body {
    /* background-color: #FFBE00;*/
    display: table;
    width: 100%;
    height: 800px;
    background: url(../ranking01.svg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-size: cover;

}


.texto {
    padding-left: 40px;
    padding-top: 80px;
    font-family: 'Kanit', sans-serif;

}

#subtext {
    font-family: roboto, sans-serif;
    font-size: 14pt
}

#colocacao{
    width: 500px;
    height: 35px;
    border-radius:10px;
}



footer {

    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}